.grid-cards {
  max-width: unset;
  margin-bottom: fluid-to-laptop(75, 60);

  @include laptop {
    margin-bottom: fluid-laptop-to-mobile(60, 40);
  }

  @include tablet-above {
    padding-inline: unset;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: fluid-to-laptop(20, 10);
    border: var(--border-gray);
    box-shadow: var(--box-shadow-desktop);
    padding: fluid-to-laptop(23.4, 10) fluid-to-laptop(20, 10);
    text-align: center;

    @include laptop {
      box-shadow: var(--box-shadow-tablet);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      border-radius: var(--border-radius-base);
    }
  }

  &__item {
    border: var(--border-gray);
    border-radius: var(--border-radius-base);
    background-color: var(--color-gray-10);
    position: relative;
    padding-inline: 6px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: fluid-to-laptop(40, 32);
    padding-block: fluid-to-laptop(60, 45) fluid-to-laptop(40, 30);

    @include laptop {
      gap: fluid-laptop-to-mobile(32, 28);
    }
  }

  &__arrow {
    background-color: unset;
    border: unset;
    position: absolute;
    right: -4px;
    top: 7px;

    &-icon {
      @include square(fluid-to-laptop(25, 19));
      color: var(--color-gray-30);

      &:hover {
        color: var(--color-white);
        transition-duration: var(--transition-duration);
      }
    }
  }
}
