.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;

//  padding: 16px 24px;
  padding: fluid(16, 14, 1920, 1440) fluid(24, 20, 1920, 1440);
  color: var(--color-white);
  background-color: var(--color-gray-08);
  border: var(--border-gray);
  border-radius: var(--border-radius-base-2);

  &_purple-hover {
    @include hover {
      background-color: var(--color-purple-60);
    }
  }

  &_purple {
    background-color: var(--color-purple-60);
  }
}
