.contact-gallery {
  .section {
    &__header {
      h2 {
        @include laptop {
          font-size: fluid-laptop-to-mobile(38, 24);
        }
      }

      @include tablet-above {
        padding: 0 0 fluid-to-laptop(130, 75) fluid-to-laptop(80, 60);
      }

      @include tablet {
        padding-top: fluid(100, 0, 390, 1024);
      }
    }

    &__description {
      z-index: 10;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: fluid-to-laptop(80, 60);
    border: var(--border-gray);
    border-radius: var(--border-radius-base);
    background-color: var(--color-gray-10);
    position: relative;

    @include tablet {
      grid-template-rows: repeat(5, 1fr);
      gap: fluid-laptop-to-mobile(20, 10);
      padding: fluid-laptop-to-mobile(60, 24);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('/src/assets/images/Abstract-Lines.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 200%;
      height: 200%;
      z-index: 5;
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &__item {
    border-radius: var(--border-radius-base-2);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &_office {
      grid-column: 1 / 3;
      grid-row: 1;

      @include tablet {
        grid-row: 1 / 2;
      }
    }

    &_team {
      grid-column: 3 / 5;
      grid-row: 1;

      @include tablet {
        grid-row: 1 / 2;
      }
    }

    &_meeting {
      grid-column: 1 / 3;
      grid-row: 2;

      @include tablet {
        grid-row: 2 / 3;
      }
    }

    &_team-small-1 {
      grid-column: 3 / 4;
      grid-row: 2;

      @include tablet {
        grid-row: 2 / 3;
      }
    }

    &_team-small-2 {
      grid-column: 4 / 5;
      grid-row: 2;

      @include tablet {
        grid-row: 2 / 3;
      }
    }

    &_handshake {
      grid-column: 3 / 5;
      grid-row: 3;

      @include tablet {
        grid-column: 1 / 5;
        grid-row: 4 / 6;
        margin-top: fluid(90, 0, 390, 1024);
      }
    }
  }
}
