.icon-circle {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--color-purple-70);
  z-index: 100;

  &:before {
    content: '';
    display: block;
    @include abs-center;
    @include square(fluid-to-laptop(62, 44));

    @include laptop {
      @include square(fluid-laptop-to-mobile(44, 36));
    }

    border-radius: var(--border-radius-circle);
    padding: 1px;
    background: conic-gradient(
      from 150deg,
      rgba(166, 133, 250, 0) 0%,
      rgba(166, 133, 250, 0.95) 20%,
      rgba(166, 133, 250, 0) 45%,
      rgba(166, 133, 250, 0.95) 65%,
      rgba(166, 133, 250, 0) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    display: block;
    @include abs-center;
    @include square(fluid-to-laptop(82, 60));

    @include laptop {
      @include square(fluid-laptop-to-mobile(60, 48));
    }

    border-radius: var(--border-radius-circle);
    padding: 1px;
    background: conic-gradient(
      from 200deg,
      rgba(166, 133, 250, 0) 0%,
      rgba(166, 133, 250, 0.95) 20%,
      rgba(166, 133, 250, 0) 45%,
      rgba(166, 133, 250, 0.95) 65%,
      rgba(166, 133, 250, 0) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &__icon {
    @include square(fluid-to-laptop(30, 20));

    @include laptop {
      @include square(fluid-laptop-to-mobile(20, 15));
    }
  }
}
