.hero {
  overflow: hidden;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: fluid(80, 30, 1920, 1024);
    margin-bottom: 10px;
    @include laptop {
      padding-top: fluid(15, 0, 1024, 1440);
    }

    @include tablet {
      flex-direction: column;
      row-gap: 40px;
      padding-top: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(60, 50);
    width: 50%;

    @include laptop {
      row-gap: fluid-laptop-to-mobile(50, 40);
    }

    @include tablet {
      order: 1;
      width: unset;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(24, 20);

    @include laptop {
      row-gap: fluid-laptop-to-mobile(20, 16);
    }
  }

  &__title {
    line-height: 1.2;
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    column-gap: fluid-to-laptop(20, 16);

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__about-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid-to-laptop(20, 16);

    @include laptop {
      gap: fluid-laptop-to-mobile(16, 12);
    }

    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__about-item {
    display: flex;
    flex-direction: column;
    padding: fluid-to-laptop(16, 14) fluid-to-laptop(24, 20);
    border: var(--border-gray);
    border-radius: var(--border-radius-base);

    @include laptop {
      padding: fluid-laptop-to-mobile(16, 16) fluid-laptop-to-mobile(20, 16);
    }

    @include mobile {
      align-items: center;

      &:last-child {
        grid-column: span 2;
      }
    }
  }

  &__about-item-label {
    font-size: fluid-to-laptop(18, 16);

    @include laptop {
      font-size: fluid-laptop-to-mobile(16, 14);
    }

    color: var(--color-gray-60);
  }

  &__about-item-value {
    font-size: fluid-to-laptop(40, 30);

    @include laptop {
      font-size: fluid-laptop-to-mobile(30, 24);
    }

    font-weight: 700;
  }

  &__visual {
    width: 60%;

    @include tablet {
      //      overflow: hidden;
      position: relative;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -100px;
      top: -10vh;
      width: fluid(500, 350, 1920, 1024);
      height: fluid(600, 450, 1920, 1024);
      background-color: #2a213f;
      z-index: 1;
      border-radius: 50%;
      filter: blur(500px);
      opacity: 0.6;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      order: 0;
      border: var(--border-gray);
      border-radius: var(--border-radius-base);
      width: unset;
      max-width: 460px;
    }
  }

  &__circle {
    position: absolute;
    top: 30%;
    left: 52.2%;
    translate: -50% -50%;
    z-index: 10;

    @include tablet {
      top: unset;
      left: 57px;
      bottom: -100px;
    }
  }

  &__circle-image {
    width: fluid-to-laptop(175, 129);
    height: fluid-to-laptop(175, 129);

    @include laptop {
      width: fluid-laptop-to-mobile(129, 117);
      height: fluid-laptop-to-mobile(129, 117);
    }
  }

  &__circle-link {
    @include abs-center;

    overflow: hidden;
    width: fluid-to-laptop(80, 59);
    height: fluid-to-laptop(80, 59);
    padding: fluid-to-laptop(24, 18);
    border-radius: var(--border-radius-circle);

    @include laptop {
      width: fluid-laptop-to-mobile(59, 54);
      height: fluid-laptop-to-mobile(59, 54);
      padding: fluid-laptop-to-mobile(18, 15);
    }
  }

  &__image {
    position: relative;
  }

  &__image::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/Abstract-Lines.svg');
    background-position: center;
    background-size: 270%;
    background-repeat: no-repeat;
    opacity: 0.45;
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );

    @include abs-center;

    @include tablet {
      mask-image: unset;
      background-size: 195%;
    }
  }
}
