html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: fluid-to-laptop(18, 14);
  font-weight: 500;
  line-height: var(--line-height-base);
  color: var(--color-white);
  background-color: var(--color-gray-08);
}

h1,
.h1 {
  font-size: fluid-to-laptop(60, 46);

  @include laptop {
    font-size: fluid-laptop-to-mobile(46, 28);
  }
}

h2,
.h2 {
  font-size: fluid-to-laptop(48, 38);

  @include laptop {
    font-size: fluid-laptop-to-mobile(38, 28);
  }
}

h3,
.h3 {
  font-size: fluid-to-laptop(24, 20);

  @include laptop {
    font-size: fluid-laptop-to-mobile(20, 18);
  }
}

.h3-big {
  font-size: fluid-to-laptop(30, 24);

  @include laptop {
    font-size: fluid-laptop-to-mobile(24, 20);
  }
}

h4,
.h4 {
  font-size: fluid-to-laptop(20, 18);

  @include laptop {
    font-size: fluid-laptop-to-mobile(18, 16);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 600;
}

h4,
h4 {
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a,
button {
  color: inherit;

  @include hover {
    color: var(--color-gray-60);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
