:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-purple-60: #703bf7;
  --color-purple-65: #703bf7;
  --color-purple-70: #946cf9;
  --color-purple-75: #946cf9;
  --color-purple-90: #dbcefd;
  --color-purple-95: #ede7fe;
  --color-purple-97: #f4f0fe;
  --color-purple-99: #fbfaff;

  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;

  --color-gray-08: #141414;
  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4d4d4d;
  --color-gray-40: #666666;
  --color-gray-50: #808080;
  --color-gray-60: #999999;

  --color-yellow: #ffe500;

  --border-gray: var(--border-width) solid var(--color-gray-15);
  --border-purple: var(--border-width) solid var(--color-purple-60);
  --border-icon-circle: var(--border-width) solid var(--color-purple-75);

  --border-width: 1px;

  --border-radius-base: 12px;
  --border-radius-base-2: 10px;
  --border-radius-base-3: 8px;
  --border-radius-circle: 50%;
  --border-radius-twitter: 43px;
  --border-radius-say-hello: 100px;
  --border-radius-steps: 0 12px 12px 12px;
  --border-radius-search: 12px 12px 0 0;
  --border-radius-checkbox: 4px;
  --border-radius-pagination: 60px;
  --border-radius-property-detail: 28px;

  @include laptop {
    --border-radius-base: 10px;
    --border-radius-base-2: 8px;
    --border-radius-base-3: 6px;
    --border-radius-steps: 0 10px 10px 10px;
  }

  @include mobile {
    --border-radius-search: 12px;
  }

  --font-family-base: 'Urbanist';
  --line-height-base: 1.5;

  --container-width: #{fluid(
      $container-desktop-width,
      $container-laptop-width,
      1600,
      1280
    )};

  //  --container-padding-x: 80px;
  --container-padding-x: #{fluid(80, 35, 1440, 1024)};

  @include mobile {
    --container-padding-x: #{fluid(35, 16, 1024, 390)};
  }

  --transition-duration: 0.2s;
}
