.employee-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: var(--border-gray);
  border-radius: var(--border-radius-base);
  padding: fluid-to-laptop(30, 24);
  gap: fluid-to-laptop(24, 20);

  @include laptop {
    padding: fluid-laptop-to-mobile(24, 20);
    gap: fluid-laptop-to-mobile(20, 16);
  }

  &__position {
    color: var(--color-gray-60);
    text-align: center;
  }

  &__twitter-button {
    display: flex;
    align-items: center;
    padding: fluid-to-laptop(14, 10) fluid-to-laptop(26, 20);
    border-radius: var(--border-radius-twitter);
    border: none;
    background-color: var(--color-purple-60);
    margin-top: fluid(-40, -50, 1440, 1920);
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__say-hello {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: fluid-to-laptop(14, 10);
    width: 100%;
    background-color: var(--color-gray-10);
    border: var(--border-gray);
    border-radius: var(--border-radius-say-hello);
    margin-top: auto;

    @include laptop {
      padding: fluid-laptop-to-mobile(10, 8);
    }

    &-text {
      padding-left: 10px;
    }

    &-button {
      display: flex;
      align-items: center;
      border: none;
      border-radius: var(--border-radius-say-hello);
      background-color: var(--color-purple-60);
      padding: fluid-to-laptop(10, 8);

      @include laptop {
        padding: fluid(14, 8, 390, 1440);
      }
    }
  }
}