.field {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__label {
    font-size: fluid-to-laptop(18, 16);
    font-weight: 700;
    color: var(--color-white);
  }

  &__required-star {
    color: var(--color-white);
  }

  &__body {
    position: relative;
    width: 100%;
    max-width: 423px;

    @include mobile {
      max-width: unset;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: fluid-to-laptop(24, 20);
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: fluid-to-laptop(24, 20);
    transform: translateY(-50%);
    background-color: unset;
    border: none;
    padding: 0;
  }

  &__control {
    width: 100%;
    height: fluid-to-laptop(66, 52);
    padding-inline: fluid-to-laptop(20, 16);
    color: var(--color-white);
    background-color: var(--color-gray-08);
    border: var(--border-gray);
    border-radius: var(--border-radius-base);

    &:user-invalid {
      border-color: var(--color-purple-60);
    }

    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: var(--color-gray-60);
      font-size: fluid-to-laptop(18, 14);
    }

    &:focus {
      outline: none;
    }

    &_has-icon {
      padding-left: fluid-to-laptop(65, 53); // Примерный отступ под иконку
    }

    &_has-button {
      padding-right: fluid-to-laptop(65, 53); // Примерный отступ под кнопку
    }
  }

  textarea.field__control {
    min-height: fluid(163, 109);
    padding-block: fluid-to-laptop(20, 16);
    resize: vertical;
  }
}
