.contact-locations {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid-to-laptop(50, 40);

    @include laptop {
      gap: fluid-laptop-to-mobile(40, 30);
    }
  }

  &__tab-container {
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    gap: fluid-laptop-to-mobile(10, 5);
    padding: fluid-laptop-to-mobile(10, 5);
    background-color: var(--color-gray-10);
    border-radius: var(--border-radius-base);

    @include tablet {
      align-self: center;
    }
  }

  &__tab {
    width: fluid-to-laptop(159, 124);
    height: fluid-to-laptop(63, 49);
    background-color: var(--color-gray-10);
    //    padding: fluid-to-laptop(16, 2) fluid-to-laptop(24, 2);

    @include laptop {
      width: fluid-laptop-to-mobile(124, 96);
    }
  }

  .is-active {
    background-color: var(--color-gray-08);
  }
}
