.footer {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: fluid-to-laptop(100, 80);
    background-color: var(--color-gray-08);
    gap: 50px;

    @include laptop {
      padding-block: fluid-laptop-to-mobile(80, 50);
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      align-items: flex-start;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: fluid-to-laptop(30, 24);

    @include laptop {
      gap: fluid-laptop-to-mobile(24, 20);
    }

    @include tablet {
      flex-direction: row;
      gap: 40px;
    }

    @include mobile {
      flex-direction: column;
      gap: fluid-laptop-to-mobile(24, 20);
      width: 100%;
    }
  }

  &__field {
    width: 100%;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: fluid-to-laptop(100, 80);
    position: relative;

    @include laptop {
      gap: fluid-laptop-to-mobile(80, 15);
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      width: 100%;
    }

    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: fluid-laptop-to-mobile(80, 15) fluid-laptop-to-mobile(80, 35);
      line-height: 1.7;

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: fluid(230, 215, 768, 390);
        background-color: var(--color-gray-15);
        position: absolute;
        top: 0;
        left: 50%;
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: fluid(306, 260, 768, 390);
        background-color: var(--color-gray-15);
        position: absolute;
        bottom: 0;
        left: 50%;
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: fluid-to-laptop(30, 24);

      @include laptop {
        gap: fluid-laptop-to-mobile(24, 16);
      }

      &:last-child {
        @include mobile {
          margin-top: -91px;
        }
      }

      @include mobile {
        padding-block: 0 20px;
        border-bottom: var(--border-gray);
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: fluid-to-laptop(20, 16);

      @include laptop {
        gap: fluid-laptop-to-mobile(16, 8);
      }
    }

    &-title {
      color: var(--color-gray-60);
    }
  }

  &__bottom-wrapper {
    padding-block: fluid-to-laptop(16, 14);
    background-color: var(--color-gray-10);

    @include laptop {
      padding-block: fluid(20, 14, 390, 1440);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__legal {
    display: flex;
    flex-direction: row;
    gap: fluid-to-laptop(38, 20);
    order: 1;

    @include laptop {
      gap: fluid-laptop-to-mobile(20, 10);
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      order: 2;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: fluid-to-laptop(10, 8);
    order: 2;

    @include mobile {
      order: 1;
    }

    &-button {
      border: unset;
      border-radius: var(--border-radius-circle);
      padding: fluid-to-laptop(14, 10);

      @include laptop {
        padding: fluid(20, 10, 390, 1440);
      }
    }
  }
}
